<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 방 이미지 데이터베이스 매퍼 -->
<mapper namespace="com.hotel.dao.IF_Room_AttachDAO">
	<insert id="insertImg" parameterType="hashmap">
		insert into imgfiletbl values(#{detailAddr_roomNum_imgfile},#{filename})
	</insert>
	
	<select id="room_selectImg" parameterType="String" resultType="String">
		select filename_imgfile from imgfiletbl where detailAddr_roomNum_imgfile = #{detailAddr_roomNum_imgfile}
	</select>
	
	<delete id="deleteImg" parameterType="String">
		delete from imgfiletbl where detailAddr_roomNum_imgfile=#{detailAddr_roomNum_imgfile}
	</delete>
</mapper>